*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-header{
    /* position: relative; */
   position: sticky;
   top: 0;
   z-index: 99;
   left: 0;
   right: 0;
   bottom: 0;
}
.top-header .container-fluid{
    /* width: 100%; */
    height: 40px;
    /* border: 1px solid black; */
    background-color: #DD2B1C;
 /* position: fixed;
 z-index: 99; */
}
.container-fluid .row{
    height: 40px;
}
.container-fluid .row .header1{
width: 70%;
height: 40px;
/* border: 1px solid black; */
}
.container-fluid .row .header2{
    width: 30%;
    height: 40px;
    /* border: 1px solid black; */
    }

.header1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.header1 ul li{
    list-style: none;
    padding-left: 15px;
    font-size: 15px;
    color: white;
}
.header1 ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.header2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 50px;
    
}
.header2 ul li{
    list-style: none;
    padding-left: 40px;
}
.header2 ul li a{
    font-size: 23px;
color: white;
}
/* navbar-section */

.navbar-brand{
    /* border: 1px solid black; */
    margin-left: 60px;
}
.navbar-brand img{
    width: 140px;
    height: 50px;
    
}

.navbar-nav{
    /* border: 1px solid black; */
    margin-left: 11rem;
}
.navbar-nav .nav-item{
    /* border: 1px solid black; */
    padding-left: 20px;
}
.navbar-collapse .bttn{
    /* border: 1px solid black; */
   margin-left: 7rem;
   padding: 10px 40px 10px 40px;
   border-radius: 50px;
   background-color: #b81102;
}
.banner_img{
  width: 100%;
  height: 500px;
  /* border: 1px solid black; */
  background-image: linear-gradient(to right,rgba(252, 68, 1, 0.695),rgba(47, 42, 242, 0.033)),url(img/high-tech-modern-high-performance-plant-with-high-precision-equipment-engineering-concept_88135-23126.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_img .container{
    /* border: 1px solid black; */
    height: 350px;
}
.banner_img .container .row{
    height: 350px;

}
.banner_img .container .row .puja{
    width: 100%;
    height: 350px;
    /* border: 1px solid black; */
   margin-top: 8rem;
}
.puja h1{
    width: 100%;
font-size: 60px;
color: white;
font-weight: bold;
/* border: 1px solid black; */
}
.puja p{
    font-size: 25px;
    font-weight: 600;
}
.committed{
    height: 80px;
    /* border: 1px solid black; */
    margin-top: -80px;
    background-color: #DD2B1C;
}
.committed .row{
    height: 80px;
    margin-top: -80px;
}
.committed .row .commite{
    width: 60%;
    height: 80px;
    /* border: 1px solid black; */
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.commite .type_seal{
    /* border: 1px solid black; */
}
.commite .type_seal h5{
    text-align: center;
    color: white;
}
.committed .row .commited{
    width: 40%;
    height: 80px;
    /* border: 1px solid black; */
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.commited > button{
    padding: 10px 40px 10px 40px;
    color: red;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
/* Welcome to Puja Fluid Seals-section-start */
.welcome{
    height: 600px;
    /* border: 1px solid black; */
    margin-top: 80px;
}
.welcome .row{
    height: 600px;
   
}
.welcome .row .welcome_paragraph{
    height: 600px;
    /* border: 1px solid black; */
}
.welcome_paragraph h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.welcome_paragraph h1::after{
    content: "";
    display: block;
    margin: 10px 50px;
    height: 4px;
    width: 150px;
    background-color: red;
   border-radius: 5px;
}
.Industrial_paragraph p{
    text-align: justify;
    line-height: 30px;
    font-size: 19px;
}
.welcome_paragraph .Industrial_paragraph{
    width: 100%;
    height: 500px;
    /* border: 1px solid black; */
    margin-top: 20px;
}
.Industrial_paragraph > button{
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-weight: bold;
}
/* guarantee-performance-start */
.progrees{
background-image: url(img/oJ3Scrc5i9r_qcB8uEpE-byQrXCeFwRDqYoBiXijt_TllGVCY9qOtXyfACkDZImAHKem2L_HcQFkZ39p2oJ5qTbpyL9HMZImwPGLmC9bqAow3840-h2160-p-k-no-nd-mv.webp);
width: 100%;
height: 500px;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
margin-top: 80px;
display: flex;
align-items: center;
justify-content: center;

}
.progrees .performance{
    height: 400px;
    /* border: 1px solid black; */
}
.performance .best_performance{
    width: 50%;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
align-items: center;
justify-content: center;
}
.best_performance .quality{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
}
.quality h5{
    color: white;
    font-weight: bold;
}
.quality h1{
    font-size: 45px;
    font-weight: 600px;
    color: white;
    margin-top: 10px;
}
.quality p{
    color: white;
    font-size: 18px;
    margin-top: 20px;
}
.quality > button{
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    border: none;
    font-weight: 500;
    color: #b81102;
}
.quality > button:hover{
    transition: all 1.5s ease-in-out;
    transform: scale(1.1);
}
.counter{
    width: 43%;
    height: 150px;
    /* border: 1px solid black; */
    margin-left: 5rem;
    margin-top: -60px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 15px  0.4px black;
}
.counter .counter1{
    width: 30%;
    height: 100px;
    /* border: 1px solid black; */
}
.counter1 h2,h4{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
}
.counter1 h2{
    margin-left: 25%;
    color: #b81102;
}
h2, span{
    text-align: center;
    display: inline;
    /* margin: 15px 0; */
    font-size: 30px;
    color: #d11313;
   /* border: 1px solid black; */
   font-weight: bold;
}
.counter .counter2{
    width: 30%;
    height: 100px;
    /* border: 1px solid black; */
}
.counter2 h2{
    margin-left: 35%;
    color: #b81102;
}
.counter2 h2,h4{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
   
}
.counter .counter3{
    width: 30%;
    height: 100px;
   
}
.counter3 h2{
    margin-left: 35%;
    color: #b81102;
}
.counter3 h2,h4{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.hori{
    width: 100px;
    height: 2px;
    border-radius: 5px;
    background-color: black;
    transform: rotate(90deg);
}
.best_1{
    width: 50%;
    height: 400px;
    /* border: 1px solid black; */
  display: flex;
   justify-content: center;
}
.quality-img{
    width: 65%;
    height: 500px;
    /* border: 1px solid black; */
    margin-top: -15rem;
    border-radius: 4px;
}
.quality-img img{
    width: 100%;
    height: 500px;
    border-radius: 4px;
}
/* product-section */
.our_product_1{
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
    margin-top: 80px;
}
.our_product{
    text-align: center;
   font-weight: 400;
}
.our_product::after{
    content: "";
    display: block;
    margin: 10px auto;
    height: 4px;
    width: 150px;
    background-color: red;
   border-radius: 5px;
}
.product_1{
    height: 1000px;
    /* border: 1px solid black; */
}
.product_1 .row{
    height: 1000px;
    /* border: 1px solid black; */
}
.flex-container{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* background-color: #b81102; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.flex-container > div {
    background-color: #f1f1f1;
    width: 300px;
    margin: 10px;
    /* border: 1px solid black; */
    text-align: center;
    line-height: 75px;
    height: 300px;
    position: relative;
}
.flex-container > div > img{
    width: 100%;
    height: auto;
}
.flex-container > div .bonded{
    width: 100%;
    /* border: 1px solid black; */
    position: absolute;
    top: 266px;
    background-color: #d11313;
    cursor: pointer;
}
.bonded > h3{
    color: white;
    font-size: 22px;
}
.load_more{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    align-items: center;
    display: flex;
    justify-content: center;
}
.load_more > button{
background-color: #d11313;
color: white;
border: none;
padding: 5px 10px 5px 10px;
border-radius: 5px;
}
.mission{
    margin-top: 80px;
    height: 825px;
    /* border: 1px solid black; */
    background-color: black;
}
.mission .row .mission_2 > h1{
text-align: center;
font-weight: bold;
}
.our_mission{
    font-size: 50px;
}
.our_mission::after{
    content: "";
    display: block;
    background-color: #d11313;
    width: 200px;
    height: 4px;
    border-radius: 4px;
    margin: 10px auto;
    
}
.flex-directive{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    
}
.flex-directive > div{
    background-color: #f1f1f1;
    width: 350px;
    margin: 10px;
    /* border: 1px solid black; */
    text-align: center;
    /* line-height: 75px; */
    height: 350px;
}
.flex-directive > div .excellent{
    width: 100%;
    height: 130px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.excellent .fa-regular{
    text-align: center;
    font-size: 100px;
    
}
.excellent .fa-solid{
    text-align: center;
    font-size: 100px;
    
}
.flex-directive > div .excellent_1{
    width: 100%;
    height: 220px;
    /* border: 1px solid black; */
}
.excellent_1 > h2{
    text-align: center;
}
.excellent_1 > p{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.our_client{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
    font-weight: 700;
    
}
.our_client::after{
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    background-color: #d11313;
    margin: 10px auto;
}


.testimonial{
height: 400px;
/* border: 1px solid black; */
margin-top: 50px;
}
.testimonial .row{
    height: 400px;
/* border: 1px solid black; */

}
.testimonial .row .testimonial_1{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
}
.owl-theme{
    /* width: 100%; */
    height: 400px;
    /* border: 1px solid black; */
}
.owl-theme .custom1{
   
    height: 400px;
    /* border: 1px solid black; */


   
}
.carousel-inner{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
}
.carousel-item > img{
width: 100%;
height: 400px;
}
.carousel-item{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
   
}
.carousel-item .carousel-link{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
}
.carousel-link .carousell{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
}
.carousell .five-star{
    width: 100%;
    height: 80px;
    /* border: 1px solid black; */
}
.five-star ul{
    display: flex;
   margin-top: 30px;
}
.five-star ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 25px;
}
.carousell .para_01{
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
}
.para_01 > p{
    line-height: 30px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.carousell .photo_01{
    width: 100%;
    height: 150px;
    /* border: 1px solid #000000; */
    position: relative;
   display: flex;
}
.photo_01 .men_01{
    width: 30%;
    height: 130px;
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    /* opacity: 1; */
    margin-left: 40px;
}
.men_01 > img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}
.qoute{
    width: 70%;
    height: 130px;
    /* border: 1px solid black; */
}
.qoute > img{
    width: 70px;
    height: 70px;
    filter: drop-shadow(1px 0px  rgb(157, 82, 82));
}
.laster{
    margin-top: 80px;
    height: 150px;
    /* border: 1px solid black; */
   background-image: linear-gradient(rgba(0, 0, 0, 0.695),rgba(0, 0, 6, 0.567)), url(img/best_books_for_CA_Foundation_2022.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.laster .row{
    justify-content: space-evenly;
    height: 150px;
    /* border: 1px solid black; */
}
.laster .row .laster_01{
   width: 30%;
    height: 150px;
    /* border: 1px solid black; */
   }
   .laster_01 .locations{
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
   }
   .locations .fa-location-dot{
  margin-left: 50%;
    font-size: 40px;
    margin-top: 30px;
   }
   .locations > address{
    color:  white;
    text-align: center;
   }
.laster .row .laster_02{
    width: 30%;
     height: 150px;
     /* border: 1px solid black; */
    }
    .laster_02 > img{
        width: 100%;
        height: 100px;
        box-sizing: border-box;
        background-color: white;
        margin-top: 25px;
        border-radius: 10px;
    }
 .laster .row .laster_03{
    width: 30%;
     height: 150px;
     /* border: 1px solid black; */
}
.laster_03 .message{
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
 .message > button{
   background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px 20px 5px 20px;
 }

 /* last-footer-section */

 .last-footer{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    background-image: linear-gradient(rgba(223, 10, 10, 0.813),rgba(181, 48, 48, 0.451)) ,url(img/pngwing.com-2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .last-footer .row{
   
    height: 400px;
    /* border: 1px solid black; */
 }
 .last-footer .row .last-footer-section_01{
   width: 25%;
    height: 400px;
    /* border: 1px solid black; */
 }
 .last-footer-section_01 .last_img{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    display: inline-block;
    align-items: center;
    justify-content: center;
    
 }
 .last_img h3{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-top: 30px;
 }
 .last_img p{
    line-height: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
 }
 .last-footer .row .last-footer-section_02{
    width: 25%;
     height: 400px;
     /* border: 1px solid black; */
     display: flex;
  }
  .last-footer-section_02 .last_img1{
    width: 50%;
    height: 400px;
    /* border: 1px solid black; */
  }
  .last_img1 h4{
    font-size: 23px;
    margin-top: 40px;
    color: white;
    font-size: 600;
  }
  .last_img1 ul{
    /* border: 1px solid black; */
    margin-top: 50px;
  }
  .last_img1 ul li{
    list-style: none;
    margin-top: 10px;
  }
  .last_img1 ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
  }
  .last-footer-section_02 .last_img2{
    width: 50%;
    height: 400px;
    /* border: 1px solid black; */
  }
  .last_img2 h4{
    font-size: 23px;
    margin-top: 40px;
    color: white;
    font-size: 600;

  }
  .last_img2 ul{
    /* border: 1px solid black; */
    margin-top: 20px;
  }
  .last_img2 ul li{
    list-style: none;
    margin-top: 10px;
  }
  .last_img2 ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    /* font-weight: bold; */
  }
  .last-footer .row .last-footer-section_03{
    width: 25%;
     height: 400px;
     /* border: 1px solid black; */
  }
  .last-footer-section_03 .last_img3{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
  }
  .last_img3 ul{
    margin-top: 110px;
  }
  .last_img3 ul li{
   margin-top: 10px;
    list-style: none;
  }
  .last_img3 ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    /* font-weight: bold; */
  }
  .last-footer .row .last-footer-section_04{
    width: 25%;
     height: 400px;
     /* border: 1px solid black; */
  }
  .last-footer-section_04 .last_img4{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
  }
  .last_img4 h4{
    text-align: start;
    color:  white;
    margin-top: 50px;
  }
  .last_img4 h5{
    color: rgb(210, 209, 209);
    font-size: 21px;
    margin-top: 20px;
  }
  .last_img4 > input{
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: 2px solid white;
    background-color: transparent;
    outline: none;
  }
  .last_img4 > input::placeholder{
    color: #d11313;
  }
  .last_img4 > button{
    padding: 5px 25px 5px 25px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    color: #d11313;
    font-weight: bold;
  }
.footer-section{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: black;
}
.footer-section .row{
    height: 100px;
}
.footer-section .row .footer-section_01{
    width: 50%;
    height: 100px;
    border: 1px solid black;
display: flex;
align-items: center;
justify-content: center;
}
.footer-section_01 h5{
    color: white;
    font-size: 18px;

}
.footer-section_01 h4{
    color: white;
    font-size: 18px;

}
.footer-section_01 img{
    width: 200px;
    height: 50px;
    /* float: left; */
}